/* Generic Style */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

/* Main styles */
/* Welcome Page */
body {
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.title {
    border: 2px solid black;
    width: 80%;
    margin: 5px auto;
    padding: 10px;
    font-size: 2.5rem;
}

.welcome-page__slogan {
    border: 2px solid black;
    width: 60%;
    margin: 20px auto;
    padding: 10px;
    font-size: 2rem;
}

.welcome-page__description {
    border: 1px solid black;
    width: 40%;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1.5rem;
}

#start-btn {
    margin-top: 3rem;
}

/* Game Page */

#game-page {
    border: 2px solid black;
    padding-top: 20px;
    width: 75%;
    margin: 20px auto;
    height: 500px;
}

#number-selector {
    width: 50px;
    margin: 0 auto;
}

#first-roll-btn {
    margin: 40px auto;
}

#dice-result {
    position: relative;
    width: 200px;
}

#dice-images {
    border: 2px solid red;
    position: relative;
    margin: 10px auto;
    height: 350px;
    width: 500px;
}



#dice-images img {
    width: 150px;
    margin: ;
}

/* End of Game Page */

#end-of-game {
    border: 2px solid black;
    width: 75%;
    margin: 20px auto;
    height: 75vh;
}

/* Footer */

footer {
    margin: 5px auto;
    font-size: small;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Utility classes */

.btn {
    border: 3px solid none;
    padding: 5px 10px;
    background-color: hsl(0, 0%, 50%);
    border-radius: 5px;
    width: 100px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: hsl(0, 0%, 70%);;
}

.btn:active {
    background-color: hsl(0, 0%, 90%);;
}

.container {
    border-radius: 15px;
}

label {
    font-size: 1rem;
}

input {
    font-size: 1rem;
    text-align: center;
}

.hide {
    display: none;
}

/* Media Queries for responsivness */