*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    font-family: "Open-Sans", sans-serif;
    text-align: center;
    /* Image from: https://www.pexels.com/photo/brown-wooden-surface-129733/ */
    background-image:url("assets/images/wooden-background.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    color: #ffffff;
}

#title {
  font-size: 2.5rem;
  background: linear-gradient(#1d831d, #082a08);;
  font-weight: 700;
  width: 90%;
}

/* Welcome Page */

#welcome-page-slogan {
  background: linear-gradient(#1d831d, #082a08);;
  font-size: 1.5rem;
  font-weight: 600;
  width: 50%;
}

#welcome-page-description {
  background: linear-gradient(#1d831d, #082a08);  font-size: 1rem;
  font-weight: 600;
  width: 70%;
  height: 350px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

#start-btn {
  margin: 10px auto;
}

/* Game Page */

#game-page-container {
  border: 2px solid black;
  background: linear-gradient(#1d831d, #082a08);
  width: 70%;
  height: 430px;
  margin: 20px auto 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

#dice-image-container {
  max-width: 400px;
  min-height: 150px;
  margin: 30px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dice-number-container {
  display: flex;
  width: 40%;
  justify-content: center;
  margin: 0 auto 20px;
}

#dice-total-container {
  width: 200px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dice-total-score {
  font-size: 1.3rem;
  margin-left: 10px;
}

img {
  height: 150px;
  width: 150px;
}

#dice-number1,
#dice-number2 {
  margin: 0 70px;
}

#higher-btn,
#lower-btn {
  margin: 10px 40px;
}

#score-area {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.score-streak-label {
  font-size: 1rem;
  font-weight: 700;
  margin-left: 30px;
}

.score-streak {
  margin: 0 10px;
  font-weight: 400;
}

#reset-btn {
  margin: 20px auto;
}

/* hidden result classes */

#result-area {
  margin: auto;
  font-size: 2rem;
  transition: all 0.5s linear;
}

/* Footer section */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 5px auto;
  font-size: small;
  z-index: 100;
}
/* Utility styles */

.container {
  border: 2px solid black;
  border-radius: 15px;
  margin: 20px auto;
  padding: 10px 20px;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    color: inherit;
    border: 3px solid none;
    padding: 5px 10px;
    background-color: hsl(0, 0%, 70%);
    color: black;
    border-radius: 5px;
    width: 100px;
    font-weight: bold;
    font-size: .8rem;
}

button:hover {
  background-color: hsl(0, 0%, 80%);;
}

button:active {
  background-color: hsl(0, 0%, 90%);;
}

li {
  list-style: none;
  line-height: 2;
}

.hide {
  display: none;
}

/* Media Queries */
/* Mobile Devices */
@media screen and (max-width: 631px) {

  #title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 525px) {
  
  #welcome-page-description {
    height: 600px;
    width: 80%;
  }
  
  #game-page-container {
    height: 600px;
    width: 80%;
  }
}

@media screen and (max-width: 440px) {

  /* Welcome Page */
  #title {
    font-size: 1.5rem;
  }
  
  #welcome-page-slogan {
    width: 60%;
    font-size: 1rem;
  }
  
  #welcome-page-description {
    width: 80%;
    height: 600px;
  }
  
  li {
    line-height: 1.5;
    margin: 20px auto;
  }

  #start-btn {
    margin: 0 auto;
  }
  
  /* Game Page */
  #game-page-container {
    width: 80%;
  }
  
  #dice-image-container {
    flex-direction: column;
  }
  
  #dice-number-container {
    display: none;
  }

  #dice-total-score {
    font-size: 1rem;
    margin-left: 10px;
  }

  #higher-lower-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #higher-btn {
    order: 1;
  }

  #lower-btn {
    order: 2;
  }
 
  #score-area {
    width: 90%;
  }

  .score-streak-label {
    font-size: .9rem;
    margin: auto;
  }

  #reset-btn {
    margin: 10px auto;
  }

  /* Utilities */
  .container {
    margin: 10px auto;
  }
}

