*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    font-family: "Open-Sans", sans-serif;
    text-align: center;
}

#title {
  font-size: 2.5rem;
  width: 90%;
}

#welcome-page-slogan {
  font-size: 1.5rem;
  width: 50%;
}

#welcome-page-description {
  font-size: 1rem;
  width: 70%;
  height: 350px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

#start-btn {
  margin: 90px auto;
}

/* Utility styles */

.container {
  border: 2px solid black;
  border-radius: 15px;
  margin: 20px auto;
  padding: 10px 20px;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    color: inherit;
    border: 3px solid none;
    padding: 5px 10px;
    background-color: hsl(0, 0%, 50%);
    border-radius: 5px;
    width: 100px;
    font-weight: bold;
    font-size: .8rem;
}

button:hover {
  background-color: hsl(0, 0%, 70%);;
}

button:active {
  background-color: hsl(0, 0%, 90%);;
}

li {
  list-style: none;
  line-height: 2;
}

/* Media Queries */

